$screen-sm-min:     768px;

#identification {
    height: 100vh;
    background: url('https://storage.googleapis.com/life-personal-network/identification/identification.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: flex-end;

    #connection {
        width: 310px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 50px;

        img {
            width: 70px;

            @media(min-width: $screen-sm-min) {
                width: 100px;
            }
        }

        button {
            font-size: 15px;
            width: 100px;
            margin-top: 10px;
            margin-bottom: 10px;
            border: 1px solid white;
            color: white;
            background-color: transparent;
            font-weight: lighter;
            font-family: sans-serif;

            @media(min-width: $screen-sm-min) {
                width: 150px;
            }
        }

        button.active.focus, button.active:focus, button.focus,
        button:active.focus, button:active:focus, button:focus {
            outline-color: #276A54;
        }

        button:first-child {
            margin-right: 10px;
        }
    }

    #notices {
        font-size: 8px;
        color: #fff;
        position: absolute;
        bottom: 0;


        @media (min-width: $screen-sm-min) {
            font-size: 12px;
            bottom: 0;
            right: 10px;
        }

        a, span {
            margin-left: 5px;
        }

        img {
            margin-left: 2px;
            width: 10px;
        }

        a{
            color: #276A54;
        }
    }
}
