#identification {
  height: 100vh;
  background: url("https://storage.googleapis.com/life-personal-network/identification/identification.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: flex-end; }
  #identification #connection {
    width: 310px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 50px; }
    #identification #connection img {
      width: 70px; }
      @media (min-width: 768px) {
        #identification #connection img {
          width: 100px; } }
    #identification #connection button {
      font-size: 15px;
      width: 100px;
      margin-top: 10px;
      margin-bottom: 10px;
      border: 1px solid white;
      color: white;
      background-color: transparent;
      font-weight: lighter;
      font-family: sans-serif; }
      @media (min-width: 768px) {
        #identification #connection button {
          width: 150px; } }
    #identification #connection button.active.focus, #identification #connection button.active:focus, #identification #connection button.focus,
    #identification #connection button:active.focus, #identification #connection button:active:focus, #identification #connection button:focus {
      outline-color: #276A54; }
    #identification #connection button:first-child {
      margin-right: 10px; }
  #identification #notices {
    font-size: 8px;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0; }
    @media (min-width: 768px) {
      #identification #notices {
        font-size: 12px;
        bottom: 0;
        right: 10px;
        left: inherit; } }
    #identification #notices a, #identification #notices span {
      margin-left: 5px; }
    #identification #notices img {
      margin-left: 2px;
      width: 10px; }
    #identification #notices a {
      color: #276A54; }
