$dark-blue:      #304254;
$dark-green:     #276A54;

.modal-content {
    .toaster {
        padding: 15px;
        border-radius: 4px;
        position: absolute;
        bottom: -90px;
        width: 100%;
        display: none;
        color: white;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;

        .glyphicon-remove {
            float: right;
        }

        &.show {
            display: block;
        }

        &.info {
            background-color: $dark-blue;
        }

        &.warning {
            background-color: orangered;
        }

        &.error {
            background-color: darkred;
        }

        &.success {
            background-color: $dark-green;
        }
    }
}
