$screen-md-min:     992px;

.content {
    height: calc(100vh - 55px);
    display: flex;
    text-align: center;
    width: 100%;

    @media (min-width: $screen-md-min){
        height: 100vh;
        width: calc(100vw - 100px);
    }
}
