.content {
  height: calc(100vh - 55px);
  display: flex;
  text-align: center;
  width: 100%; }
  @media (min-width: 992px) {
    .content {
      height: 100vh;
      width: calc(100vw - 100px); } }
  @media (min-width: 992px) {
    .content .responsive-vue {
      display: none; } }
  .content .web-vue {
    display: none;
    width: calc(100vw - 100px); }
    @media (min-width: 992px) {
      .content .web-vue {
        display: flex; } }
