$dark-blue:         #304254;
$screen-sm-min:     768px;
$screen-md-min:     992px;

.toaster {
    padding: 15px;
    border-radius: 4px;
    bottom: 10px;
    width: 300px;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    color: white;
    font-weight: 300;
    font-size: 13px;

    @media (min-width: $screen-sm-min) {
        width: 400px;
    }

    @media (min-width: $screen-md-min) {
        left: 100px;
    }

    &.info {
        background-color: $dark-blue;
    }

    .glyphicon {
        float: right;
    }
}
