$dark-blue:         #304254;
$screen-md-min:     992px;

#list-of-friends-mobile {
    text-align: left;
    margin-left: 50px;
    overflow: scroll;

    .friends-bloc {
        display: flex;
        flex-direction: column;
        width: 60vw;

        .first-letter {
            h5 {
                border-bottom: 1px solid rgba(127, 145, 160, 0.52);
                color: rgba(127, 145, 160, 0.52);
            }
        }

        .friendinfo {
            display: flex;
            flex-wrap: wrap;
        }

        .friend {
            display: flex;
            box-shadow: 2px 3px 5px 2px rgba(48,66,84,0.52);
            margin-right: 30px;
            width: 160px;
            position: relative;
            left: 20px;
            margin-bottom: 10px;
            
            .avatar {
                display: flex;
                justify-content: center;
                flex-direction: column;

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50px;
                    position: relative;
                    left: -20px;
                }
            }

            .info {

                h6 {
                    margin-top: 15px;
                    margin-bottom: 0;
                }

                p {
                    color: #D3D3D3;
                    font-size: 9px;
                }
            }
        }
    }
}
