$dark-blue:         #304254;
$screen-md-min:     992px;

#list-of-friends-mobile {
    text-align: left;

    .myFriends-mob-menu {
        display: flex;
        
        div {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 35px;
            width: 333%; 
            text-align: center;
            border: 1px solid rgba(211, 211, 211, 0.418);

            .fa {
                margin-right: 15px;
            }

            &.myFriendsTab {
                background-color: #E5E7EA;
            }
        }
    }

    .myFriends-mob-search {
        display: flex;

        div:first-child {
            display: flex;
            width: 30px;
            border: 1px solid rgba(211, 211, 211, 0.418);
            span {
                margin: auto;
            }
        }

        input {
            padding-left: 10px;
            font-size: 10px;
            height: 35px;
            border: 1px solid rgba(211, 211, 211, 0.418);
            width: calc(100vw - 45px);

            &::placeholder {
                color: rgb(185, 184, 184);
            }
        }
    }

    .friends-bloc {
        display: flex;
        flex-direction: column;

        .friendinfo {
            display: flex;
            flex-wrap: wrap;
        }

        .friend {
            display: flex;
            width: 100%;
            border: 1px solid rgba(211, 211, 211, 0.418);
            padding-top: 5px;
            padding-bottom: 5px;

            &:first-child {
                border-left: $dark-blue 5px solid;
                background-color: #E5E7EA;
            }

            .avatar {
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin-left: 15px;
                margin-right: 10px;

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50px;
                }
            }

            .info {

                .nbOfMsg {
                    background-color: #FC5F6C;
                    color: white;
                    border-radius: 5px;
                    padding-right: 10px;
                    padding-left: 10px;
                    float: right;
                    position: absolute;
                    right: 10px;
                    margin-top: 20px;
                    font-size: 10px;
                }

                h5 {
                    margin-bottom: 0;
                    font-weight: 400;
                }

                p {
                    margin-top: 10px;
                    color: $dark-blue;
                    font-size: 9px;
                }
            }
        }
    }
}
