.modal-content #connection #connect {
  background-color: #8FC286;
  width: 100%; }

.modal-content #connection .modal-footer {
  text-align: left; }
  .modal-content #connection .modal-footer #cancel {
    color: white;
    background-color: #DB6962; }
  .modal-content #connection .modal-footer a {
    float: right;
    color: #5B6774; }
